<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a
        href="/"
        class="d-inline-flex link-body-emphasis text-decoration-none fs-4 fw-semibold"
      >
        Welcome
      </a>
    </div>
    <div class="col-md-3 text-end">
      <a
        routerLink="/form"
        routerLinkActive="active"
        class="btn btn-outline-primary me-2"
        >Sign-up</a
      >
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="btn btn-outline-primary"
        >Login</a
      >
    </div>
  </header>
</div>
